<template>
    <div>
        <div class="m-b-md">
            <h3 class="m-b-none">Securité</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Formulaire</header>
                    <div class="panel-body">
                        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
                            <strong>{{response.message}}</strong>
                            <div v-if="!response.success">
                                <h5 v-for="e in response.data" :key="e">
                                    {{e[0]}}
                                </h5>
                            </div>
                        </div>
                        <form role="form"  v-on:submit.prevent="modUsr">
                            <div class="form-group">
                                <label>Email : <span class="text-danger">*</span></label>
                                <input type="email" class="form-control"  required v-model="input.email">
                            </div>
                            <div class="form-group">
                                <label>Password : <span class="text-danger">*</span></label>
                                <input type="password" class="form-control"  v-model="input.password">
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Envoyer</button>
                            <button type="reset" class="btn btn-sm btn-danger">Annuler</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
  
</template>
<script>
    export default {
        props: ['me'],
        data(){
            return{
                input:{},
                response:null
            }
        },
        created: function(){
            this.input.email = this.me.email
        },
        props: ['me'],
        methods: {
            modUsr(){
                let uri = '/api/users/'+this.me.id;
                this.input._method="PATCH"
                this.axios.post(uri, this.input).then((response) => {
                    this.response = response.data;
                }).catch(err => {
                        this.response = err.response.data;
                        })
            },
        }   
    }
</script>