<template>
    <div v-if="me.position == 4">
        <div class="m-b-md">
            <h3 class="m-b-none">Ajouter un administarateur</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Formulaire</header>
                    <div class="panel-body">
                        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
                            <strong>{{response.message}}</strong>
                            <div v-if="!response.success">
                                <h5 v-for="e in response.data" :key="e">
                                    {{e[0]}}
                                </h5>
                            </div>
                        </div>
                        <form role="form"  v-on:submit.prevent="ajouterUsr">
                            <div class="form-group">
                                <label>Email : <span class="text-danger">*</span></label>
                                <input type="email" class="form-control"  required v-model="input.email">
                            </div>
                            <div class="form-group">
                                <label>Nom : <span class="text-danger">*</span></label>
                                <input type="text" class="form-control"  required v-model="input.name">
                            </div>
                            <div class="form-group">
                                <label>position : <span class="text-danger">*</span></label>
                                <select class="form-control m-b" v-model="input.position">
                                    <option value="4">Responsable Communication</option>
                                    <option value="3">Responsable Logistique</option>
                                    <option value="2">Directeur Adjoint</option>
                                    <option value="1">Secrétaire Général</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Envoyer</button>
                            <button type="reset" class="btn btn-sm btn-danger">Annuler</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="m-b-md">
            <h3 class="m-b-none">Ajouter un club</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Formulaire</header>
                    <div class="panel-body">
                        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
                            <strong>{{response.message}}</strong>
                            <div v-if="!response.success">
                                <h5 v-for="e in response.data" :key="e">
                                    {{e[0]}}
                                </h5>
                            </div>
                        </div>
                        <form role="form"  v-on:submit.prevent="ajouterUsr">
                            <div class="form-group">
                                <label>Email : <span class="text-danger">*</span></label>
                                <input type="email" class="form-control"  required v-model="input.email">
                            </div>
                            <div class="form-group">
                                <label>Nom : <span class="text-danger">*</span></label>
                                <input type="text" class="form-control"  required v-model="input.name">
                            </div>
                            <div class="form-group">
                                <label>Tel: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control"  required v-model="input.num">
                            </div>
                            <div class="form-group">
                                <label>Logo: <span class="text-danger">*</span></label>
                                <input type="url" class="form-control"  required v-model="input.logo">
                            </div>
                            <div class="form-group">
                                <label>President: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control"  required v-model="input.president">
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Envoyer</button>
                            <button type="reset" class="btn btn-sm btn-danger">Annuler</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['me'],
        data(){
            return{
                input:{},
                response:null
            }
        },
        props: ['me'],
        methods: {
            ajouterUsr(){
                let uri = '/api/users';
                if(this.me.position == 4)this.input['level']='Administration'
                else{
                    this.input['level']='Club'
                    this.input['position']=6
                }
                this.axios.post(uri, this.input).then((response) => {
                    this.response = response.data;
                    this.input = {}
                }).catch(err => {
                        this.response = err.response.data;
                        })
            },
        }   
    }
</script>
