<template>
    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
        <div class="navbar-header aside-md">
            <router-link :to="'#'" class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                <i class="fa fa-bars"></i>
            </router-link>
            <router-link :to="'/'" class="navbar-brand" data-toggle="fullscreen"><img src="/images/logo.png" class="m-r-sm">Parascolaire</router-link>
            <router-link :to="'#'" class="btn btn-link visible-xs" @click="showUserMobile = !showUserMobile;showUser = false">
                <i class="fa fa-cog"></i>
            </router-link>
        </div>
        <ul class="nav navbar-nav hidden-xs">
            <li class="dropdown">
                <router-link :to="''" class="dker">
                    <i class="fa fa-info"></i> 
                    <span class="font-bold">École Nationale des Sciences Appliquées d'Oujda</span>
                </router-link>
            </li>
        </ul>  
        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user" :class="{'open':showUserMobile}" >
            <li class="dropdown" :class="{'open':showUser}" @click="showUser = !showUser">
                <a href="#" class="dropdown-toggle">
                    <span class="thumb-sm avatar pull-left bg-white">
                        <img height="100px" v-if="me.level == 'Administration'" src="/images/ensa_oujda.png">
                        <img v-if="me.level != 'Administration'" :src="me.logo">
                    </span> {{ me.name }} <b class="caret"></b>
                </a>
                <ul v-if="showUser || showUserMobile" class="dropdown-menu animated fadeInRight">
                    <span class="arrow top"></span>
                    <li>
                        <router-link v-if="me.level == 'Club'" :to="''"><i class="fa fa-gears"></i> Paramètres</router-link >
                    </li>
                    <li>
                        <router-link :to="{ name: 'Securite' }"><i class="fa fa-unlock-alt"></i> Sécurité</router-link >
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a @click="logout" href="/#"><i class="fa fa-sign-out"></i> logout</a>
                    </li>
                </ul>
            </li>
        </ul> 
        <meta v-if="ref" http-equiv="refresh" content="2;/"  /> 
    </header>
</template>
<script>
    export default {
        data(){
            return{
                ref: false,
                showUser: false,
                showUserMobile: false,
            }
        },
        props: ['me'],
        methods: {
            logout(){
                let uri = '/logout';
                this.axios.post(uri);
                this.ref = true
            },
        }
    }

</script>

