<template>
    <aside class="bg-dark lter b-r aside-md hidden-print" id="nav">          
        <section class="vbox">
        <header v-if="me.level != 'Administration'"  class="header bg-primary lter text-center clearfix">
            <div class="btn-group">
            <router-link :to="{ name: 'DemandeCreate' }">
                <button type="button" class="btn btn-sm btn-dark btn-icon" ><i class="fa fa-plus"></i></button>
                <div class="btn-group hidden-nav-xs">
                <button type="button" class="btn btn-sm btn-primary">
                    Ajouter Une Demande
                </button>                      
                </div>
            </router-link>
            </div>
        </header>
        <header v-if="me.position == 5 || me.position == 4 "  class="header bg-primary lter text-center clearfix">
            <div class="btn-group">
            <router-link :to="{ name: 'UserCreate' }">
                <button type="button" class="btn btn-sm btn-dark btn-icon" ><i class="fa fa-plus"></i></button>
                <div class="btn-group hidden-nav-xs">
                <button type="button" class="btn btn-sm btn-primary">
                    Ajouter Un Utilisateur
                </button>                      
                </div>
            </router-link>
            </div>
        </header>
        <section class="w-f scrollable">
            <div class="slim-scroll">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                <li>
                    <router-link :to="{ name: 'Home' }">
                    <i class="fa fa-dashboard icon">
                        <b class="bg-danger"></b>
                    </i>
                    <span>Tableau de Bord</span>
                    </router-link>
                </li>
                <li  v-bind:class="{ active: showDemandes }">
                    <a href="#demandes" @click="showDemandes = !showDemandes" v-bind:class="{ active: showDemandes }">
                    <i class="fa fa-columns icon">
                        <b class="bg-warning"></b>
                    </i>
                    <span class="pull-right">
                        <i class="fa fa-angle-down text"></i>
                        <i class="fa fa-angle-up text-active"></i>
                    </span>
                    <span>Demandes</span>
                    </a>
                    <ul class="nav lt" v-if="showDemandes">
                    <li v-if="me.level != 'Administration'">
                        <router-link :to="{ name: 'Demandes' }">
                        <i class="fa fa-angle-right"></i>
                        <span>Mes Demandes</span>
                        </router-link>
                    </li>
                    <li v-if="me.level != 'Club'">
                        <router-link :to="{ name: 'DemandesEnCours' }">
                        <i class="fa fa-angle-right"></i>
                        <span>Demandes en Cours</span>
                        </router-link>
                    </li>
                    </ul>
                </li>                        
                <li  v-bind:class="{ active: showSetting }">
                    <a href="#parametres" @click="showSetting = !showSetting" v-bind:class="{ active: showSetting }">
                    <i class="fa fa-columns icon">
                        <b class="bg-warning"></b>
                    </i>
                    <span class="pull-right">
                        <i class="fa fa-angle-down text"></i>
                        <i class="fa fa-angle-up text-active"></i>
                    </span>
                    <span>Mes Parametres</span>
                    </a>
                    <ul class="nav lt" v-if="showSetting">
                    <li>
                        <router-link :to="{ name: 'Securite' }">
                        <i class="fa fa-angle-right"></i>
                        <span>Sécurité</span>
                        </router-link>
                    </li>
<!--                    <li>
                        <router-link :to="{ name: 'Paramètres' }">
                        <i class="fa fa-angle-right"></i>
                        <span>Paramètres</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'Aide' }">
                        <i class="fa fa-angle-right"></i>
                        <span>Aide</span>
                        </router-link>
                    </li>-->
                    <li>
                        <a @click="logout" href="#">
                        <i class="fa fa-angle-right"></i>
                        <span>Logout</span>
                        <meta v-if="ref" http-equiv="refresh" content="2;/"  /> 
                        </a>
                    </li>
                    </ul>
                </li>
                </ul>
            </nav>
            <!-- / nav -->
            </div>
        </section>           
        </section>
    </aside>
</template>
<script>
    export default {
        props: ['me'],
        data(){
            return{
                ref: false,
                showSetting: false,
                showDemandes: true
            }
        },
        methods: {
            logout(){
                let uri = '/logout';
                this.axios.post(uri);
                this.ref = true
            },
        }
    }
</script>
