<template>
    <div>

        <HeaderBar :me="me"></HeaderBar>
        <section class="hbox stretch">
            <SideBar :me="me"></SideBar>
            <section id="content">
                <section class="vbox">          
                    <section class="scrollable padder">
                        <div class="alert alert-warning m-b-md m-t-md hidden-print">
                            Si vous avez des remarques ou des critiques sur la plate-forme, des suggestions, des problèmes... 
                            n'hésitez pas à nous contacter via l'email:
                            <strong>ade.ensao@gmail.com</strong>
                        </div>
                        <transition name="fade">
                            <router-view :me="me"></router-view>
                        </transition>
                    </section>
                </section>
             </section>
        </section>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>
import HeaderBar from './components/Layout/Header.vue';
import SideBar from './components/Layout/SideBar.vue';
    export default {
        components: {
            HeaderBar,
            SideBar
        },
        data(){
            return{
                ref: false,
                showUser: false,
                me: {}
            }
        },
        created: function(){
          let uri = '/api/user';
          this.axios.get(uri).then((response) => {
              this.me = response.data;
          }).catch(err => {
            console.error(err.statusCode)
            error({ statusCode: 404, message: 'Page Not Found' })
          })
        },
        methods: {
            logout(){
                let uri = '/logout';
                this.axios.post(uri);
                this.ref = true
            },
        }
    }

</script>
