<template>
    <div v-if="pret">
        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
            <strong>{{response.message}}</strong>
            <div v-if="!response.success">
                <h5 v-for="e in response.data" :key="e">
                    {{e[0]}}
                </h5>
            </div>
            <meta http-equiv="refresh" content="2;/demandes"  /> 
        </div>
        <div v-else>
        <div class="m-b-md">
            <h3 class="m-b-none">Modifier une Demande</h3>
        </div>
        <div v-if="input.position != 6 || input.club_id != me.id" class="alert alert-danger">
            <strong>Vous n'avez pas le droit</strong>
        </div>
        <div v-else class="row">
            <div class="col-sm-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Formulaire</header>
                    <div class="panel-body">
                        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
                            <strong>{{response.message}}</strong>
                            <div v-if="!response.success">
                                <h5 v-for="e in response.data" :key="e">
                                    {{e[0]}}
                                </h5>
                            </div>
                        </div>
                        <form role="form"  v-on:submit.prevent="modDem">
                            <div class="form-group">
                                <label>Objet : <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Demande une salle" required v-model="input.objet">
                            </div>
                            <div class="form-group">
                                <label>Local : <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="la salle BE13 ou les salles BE13,CE4 ..." required v-model="input.local">
                            </div>
                            <div class="form-group pull-in clearfix">
                                <div class="col-sm-6">
                                <label>Date : <span class="text-danger">*</span></label>
                                <input type="date" class="form-control"  required v-model="input.date">
                                </div>
                                <div class="col-sm-3">
                                    <label>de <span class="text-danger">*</span></label>
                                    <input type="time" class="form-control" required v-model="input.from" step="2">   
                                </div>
                                <div class="col-sm-3">
                                    <label>à <span class="text-danger">*</span></label>
                                    <input type="time" class="form-control" required v-model="input.to" step="2">
                                </div>   
                            </div>
                            <div class="form-group">
                                <label>Description : <span class="text-danger">*</span></label>
                                <textarea class="form-control" placeholder="afin de?" required v-model="input.desc" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Commentaire : </label>
                                <textarea class="form-control"  placeholder="autres choses à ajouter?" v-model="input.cmnt" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Envoyer</button>
                            <button type="reset" class="btn btn-sm btn-danger">Annuler</button>
                        </form>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <Presentation :demande="input" :club="me" />
            </div>
        </div>
        </div>
    </div>
</template>
<script>
    import Presentation from "./Presentation.vue";
    export default {
        data(){
            return{
                input:null,
                response:null,
                pret:false
            }
        },
        props: ['me'],
        created: function(){
              let uri = `/api/demandes/${this.$route.params.id}`;
                this.axios.get(uri).then((response) => {
                    this.input = response.data.data;
                    this.pret = true
                }).catch(err => {
                        this.input = err.response.data;
                        this.pret = true
                        });
        },
        methods: {
            modDem(){
                this.pret = false
                let uri = `/api/demandes/${this.$route.params.id}`;
                this.input._method="PATCH"
                this.axios.post(uri, this.input).then((response) => {
                    this.response = response.data;
                        this.pret = true
                }).catch(err => {
                        this.response = err.response.data;
                        this.pret = true
                        })
            },
        },
        components: {
            Presentation
        }
    }
</script>
