<template>
    <div v-if="me.level == 'Administration'" class="alert alert-danger">
        <strong>Vous n'avez pas le droit</strong>
        <meta http-equiv="refresh" content="2;/"  /> 
    </div>
    <div v-else>
        <div class="m-b-md">
            <h3 class="m-b-none">Mes demandes</h3>
        </div>
        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
            <strong>{{response.message}}</strong>
            <div v-if="!response.success">
                <h5 v-for="e in response.data" :key="e">
                    {{e[0]}}
                </h5>
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading bg-light">
                <ul class="nav nav-tabs">
                <li @click="gen('all')" :class="{'active':tab=='all'}"><a href="#all" data-toggle="tab"><i class="fa fa-align-justify"></i> Toutes mes demandes</a></li>
                <li @click="gen('acc')" :class="{'active':tab=='acc'}"><a href="#acc" data-toggle="tab"><i class="fa fa-check"></i> Acceptées</a></li>
                <li @click="gen('cours')" :class="{'active':tab=='cours'}"><a href="#cours" data-toggle="tab"><i class="fa fa-clock-o"></i> En cours</a></li>
                <li @click="gen('ref')" :class="{'active':tab=='ref'}"><a href="#ref" data-toggle="tab"><i class="fa  fa-ban"></i> Refusées</a></li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">                          
                    <section class="panel panel-default">
                        <table class="table m-b-none">
                            <thead>
                                <tr class="bg-dark">
                                    <th width="1%">id</th>
                                    <th width="25%">objet</th>                    
                                    <th width="17%">local</th>                    
                                    <th width="17%">date</th>                    
                                    <th width="40%">Action</th>                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="demande in affich" :class="{'bg-danger': demande.position==6, 'bg-success': demande.position==0, 'bg-warning': demande.position<6 && 0<demande.position}" :key="demande.id">                    
                                    <td>{{demande.id}}</td>
                                    <td>{{demande.objet}}</td>
                                    <td>{{demande.local}}</td>
                                    <td>{{convDate(demande.date)}}</td>
                                    <td>
                                        <router-link :to="'/demande/'+demande.id" class="btn btn-default" title="Afficher" >
                                            <i class="fa fa-eye"></i> Afficher
                                        </router-link>
                                        <router-link v-if="demande.position==6" class="btn btn-default" :to="'/demande/edit/'+demande.id" title="Modifier">
                                            <i class="fa fa-edit"></i> Modifier
                                        </router-link>
                                        <button class="btn btn-default" @click="suppDem(demande.id)" title="Supprimer">
                                            <i class="fa fa-times"></i> Supprimer
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>

    </div>  
</template>
<script>
    export default {
        data(){
            return{
                tab: 'all',
                demandes:[],
                response:null,
                affich:[]
            }
        },
        props: ['me'],
        created: function(){
            let uri = '/api/demandes/my';
            this.axios.get(uri).then((response) => {
                this.demandes = response.data.data.club
                this.affich = response.data.data.club
            })
        },
        methods: {
            gen(tab){
                this.tab = tab 
                this.affich=[]
                for(let i=0;i<this.demandes.length;i++){
                    let demande = this.demandes[i]
                    if(tab=='all' || (tab=='acc' && demande.position == 0) || (tab=='cours' && demande.position<=5 && demande.position>=1) || (tab=='ref' && demande.position==6))
                    {
                        this.affich.push(demande)
                    }
                }
            },
            suppDem(id){
                let uri = `/api/demandes/${id}`;
                let input = {
                    '_method' : 'DELETE',
                };
                this.axios.post(uri,input);             
                uri = '/api/demandes/my';
                this.axios.get(uri).then((response) => {
                    this.demandes = response.data.data.club
                    this.gen(this.tab)
                })
            },
            convDate(d){
                var date = new Date()
                date =new Date(d)
                var options = {  
                    weekday: "long", year: "numeric", month: "short",  
                    day: "numeric" 
                }; 
                return date.toLocaleDateString("fr-FR",options);
            }
        }
    }
</script>
<style scoped>
.btn{
    border: 1px solid #f7f7f7
}
td{
    line-height: 2.428571 !important;
}
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    /*height: 300px;*/
    z-index: 9999999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .introjs-overlay {
    position: absolute;
    z-index: 999;
    background-color: #2e3e4e;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
</style>
