<template>
    <div v-if="me.level == 'Club'" class="alert alert-danger">
        <strong>Vous n'avez pas le droit</strong>
        <meta http-equiv="refresh" content="2;/"  /> 
    </div>
    <div v-else>
        <div class="modal-dialog" v-if="showRef">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" @click="showRef = false">×</button>
                <h5 class="modal-title"><i class="fa  fa-edit"></i> Remarques </h5>
                </div>
                <div class="modal-body">
                    <form v-on:submit.prevent="refDem(cur.id)">
                        <section class="panel panel-default">
                        <header class="panel-heading">
                            <span class="h4">{{cur.objet}}</span>
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                            <textarea class="form-control" v-model="cmnt" required></textarea>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn btn-success btn-s-xs">Refuser</button>
                        </footer>
                        </section>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-md pull-left btn-default" @click="showRef = false">Fermer</button>
                </div>
            </div>
        </div>
        <div class="m-b-md">
            <h3 class="m-b-none">Les demandes</h3>
        </div>
        <div v-if="response != null" class="alert" :class="{'alert-danger': !response.success,'alert-success': response.success}">
            <strong>{{response.message}}</strong>
            <div v-if="!response.success">
                <h5 v-for="e in response.data" :key="e">
                    {{e[0]}}
                </h5>
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading bg-light">
                <ul class="nav nav-tabs">
                <li @click="gen('cours')" :class="{'active':tab=='cours'}"><a href="#cours" data-toggle="tab"><i class="fa fa-clock-o"></i> En cours</a></li>
                <li @click="gen('all')" :class="{'active':tab=='all'}"><a href="#all" data-toggle="tab"><i class="fa fa-align-justify"></i> Les demandes acceptées</a></li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">                          
                    <section class="panel panel-default">
                        <table class="table m-b-none">
                            <thead>
                                <tr class="bg-dark">
                                    <th width="1%">id</th>
                                    <th width="25%">objet</th>                    
                                    <th width="17%">local</th>                    
                                    <th width="17%">date</th>                    
                                    <th width="40%">Action</th>                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="demande in affich" :class="{'bg-danger': demande.position==6, 'bg-success': demande.position==0, 'bg-warning': demande.position<6 && 0<demande.position}" :key="demande.id">                    
                                    <td>{{demande.id}}</td>
                                    <td>{{demande.objet}}</td>
                                    <td>{{demande.local}}</td>
                                    <td>{{demande.date}}</td>
                                    <td>
                                        <router-link :to="'/demande/'+demande.id" class="btn btn-default" title="Afficher" >
                                            <i class="fa fa-eye"></i> Afficher
                                        </router-link>
                                        <button v-if="demande.position==me.position" class="btn btn-default" @click="accDem(demande.id)" title="Accepter">
                                            <i class="fa fa-check"></i> Accepter
                                        </button>
                                        <button v-if="demande.position==me.position" class="btn btn-default" @click="showRefDem(demande)" title="Refuser">
                                            <i class="fa fa-times"></i> Refuser
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>

    </div>  
</template>
<script>
    export default {
        data(){
            return{
                tab: 'cours',
                demandes:[],
                response:null,
                cur:null,
                showRef:false,
                affich:[],
                cmnt:null
            }
        },
        props: ['me'],
        created: function(){
            let uri = '/api/demandes/my';
            this.axios.get(uri).then((response) => {
                this.demandes = response.data.data.admin
                this.gen(this.tab)
            })
        },
        methods: {
            showRefDem(d){
                this.showRef = true; 
                this.cur = d 
            },
            gen(tab){
                this.tab = tab 
                this.affich=[]
                for(let i=0;i<this.demandes.length;i++){
                    let demande = this.demandes[i]
                    if((tab=='all' && demande.position < this.me.position) || (tab=='cours' && demande.position == this.me.position ) )
                    {
                        this.affich.push(demande)
                    }
                }
            },
            accDem(d){
                let uri = `/api/demandes/${d}`;
                let input = {
                    'isResp' : true,
                    'typeRes' : 'Accept',
                    '_method' : 'PATCH',
                };
                this.axios.post(uri,input).then((response) => {
                    this.response = response.data;
                }).catch(err => {
                        this.response = err.response.data;
                        })
                uri = '/api/demandes/my';
                this.axios.get(uri).then((response) => {
                    this.demandes = response.data.data.admin
                    this.gen(this.tab)
                })                
            },
            refDem(d){
                let uri = `/api/demandes/${d}`;
                let input = {
                    'isResp' : true,
                    'typeRes' : 'Refuse',
                    'cmnt' : this.cmnt,
                    '_method' : 'PATCH',
                };
                this.axios.post(uri,input).then((response) => {
                    this.response = response.data;
                }).catch(err => {
                        this.response = err.response.data;
                        })
                uri = '/api/demandes/my';
                this.axios.get(uri).then((response) => {
                    this.demandes = response.data.data.admin
                    this.gen(this.tab)
                })  
                this.showRef = false; 
                this.cur = null
                this.cmnt = null
            }
        }
    }
</script>
<style scoped>
.btn{
    border: 1px solid #f7f7f7
}
td{
    line-height: 2.428571 !important;
}
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    /*height: 300px;*/
    z-index: 9999999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .introjs-overlay {
    position: absolute;
    z-index: 999;
    background-color: #2e3e4e;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
</style>
