<template>
    <div v-if="pret">
        <div class="m-b-md hidden-print">
            <h3 class="m-b-none">Afficher une Demande</h3>
        </div>
        <div v-if="supp.success" class="alert alert-success hidden-print">
            <strong>{{supp.message}}</strong>
            <meta http-equiv="refresh" content="2;/"  /> 
        </div>
        <div v-if="!response.success" class="alert alert-danger hidden-print">
            <strong>{{response.message}}1</strong>
        </div>
        <div v-else-if="!club.success" class="alert alert-danger hidden-print">
            <strong>{{club.message}}</strong>
        </div>
        <div v-else class="row">
            <div class="modal-dialog" v-if="showRef">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" @click="showRef = false">×</button>
                    <h5 class="modal-title"><i class="fa  fa-edit"></i> Remarques </h5>
                    </div>
                    <div class="modal-body">
                        <form v-on:submit.prevent="refDem">
                            <section class="panel panel-default">
                            <header class="panel-heading">
                                <span class="h4">{{response.data.objet}}</span>
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                <textarea class="form-control" v-model="cmnt" required></textarea>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button class="btn btn-success btn-s-xs">Refuser</button>
                            </footer>
                            </section>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-md pull-left btn-default" @click="showRef = false">Fermer</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 hidden-print">
                <div v-for="log in response.data.log_demandes" :key="log.id" v-if="log.action == 'Refuse'" class="alert alert-danger hidden-print">
                                <strong>{{log.cmnt}}</strong>
                </div>
            </div>
            <div class="col-sm-6 hidden-print">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Les Informations</header>
                    <div class="panel-body">
                        <table class="table table-bordered">
                              <thead class="bg-dark">
                                <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="bg-info"><strong>Objet</strong></td>
                                    <td>{{response.data.objet}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-info"><strong>Club</strong></td>
                                    <td>{{club.data.name}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-info"><strong>Position</strong></td>
                                    <td :class="{'bg-warning':0<response.data.position && response.data.position<6,'bg-success':response.data.position==0,'bg-danger':response.data.position==6}">
                                    <i class="fa" :class="{'fa-clock-o':0<response.data.position && response.data.position<6,'fa-check':response.data.position==0,'fa-ban':response.data.position==6}"></i> 
                                    {{position(response.data.position)}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-info"><strong>Local</strong></td>
                                    <td>{{response.data.local}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-info"><strong>Date</strong></td>
                                    <td>{{convDate(response.data.date)}} de {{response.data.from}} à {{response.data.to}}</td>
                                </tr>
                                <tr>
                                    <td class="bg-info"><strong>Description</strong></td>
                                    <td>{{response.data.desc}}</td>
                                </tr>
                                <tr v-if="response.data.cmnt">
                                    <td class="bg-info"><strong>Autre</strong></td>
                                    <td>{{response.data.cmnt}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button v-if="me.position==response.data.position && me.level != 'Club'" class="btn btn-success" @click="accDem()" title="Accepter">
                            <i class="fa fa-times"></i> Accepter
                        </button>
                        <button v-if="me.position==response.data.position && me.level != 'Club'" class="btn btn-danger" @click="showRef = !showRef" title="Refuser">
                            <i class="fa fa-times"></i> Refuser
                        </button>
                        <router-link v-if="response.data.position==6 && me.id==response.data.club_id" class="btn btn-primary" :to="'/demande/edit/'+response.data.id" title="Modifier">
                            <i class="fa fa-edit"></i> Modifier
                        </router-link>
                        <button v-if="me.id==response.data.club_id" class="btn btn-danger" @click="suppDem(response.data.id)" title="Supprimer">
                            <i class="fa fa-times"></i> Supprimer
                        </button>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <Presentation :demande="response.data" :club="club.data" />
            </div>
        </div>
    </div>
</template>
<script>
    import Presentation from "./Presentation.vue";
    export default{
        data() {
            return{
                response: {},
                club: {},
                supp: {},
                showRef:false,
                cmnt:null,
                pret:false,
            }
        },
        props: ['me'],
        created: function(){
            this.getDem();
        },
        methods: {
            getDem(){
              let uri = `/api/demandes/${this.$route.params.id}`;
                this.axios.get(uri).then((response) => {
                    this.response = response.data;
                    this.getClub();
                }).catch(err => {
                        this.response = err.response.data;
                    this.pret = true
                        });
            },
            getClub(){
              let uri = `/api/users/`+this.response.data.club_id;
                this.axios.get(uri).then((response) => {
                    this.club = response.data;
                    this.pret = true
                }).catch(err => {
                        this.club = err.response.data;
                    this.pret = true
                        });
            },
            position(pos){
                let position
                switch (pos) {
                    case 0:
                        position="Préte"
                        break;
                
                    case 1:
                        position="Secrétaire Général"
                        break;
                
                    case 2:
                        position="Directeur Adjoint"
                        break;
                
                    case 3:
                        position="Responsable Logistique"
                        break;
                
                    case 4:
                        position="Responsable Communication"
                        break;
                
                    case 5:
                        position="ADE"
                        break;
                
                    case 6:
                        position="Refusée"
                        break;
                
                    default:
                        break;
                }
                return position
            },
            suppDem(id){
                let uri = `/api/demandes/${id}`;
                let input = {
                    '_method' : 'DELETE',
                };
                this.axios.post(uri,input).then((response) => {
                    this.supp = response.data
                })
            },
            convDate(d){
                var date = new Date()
                date =new Date(d)
                var options = {  
                    weekday: "long", year: "numeric", month: "short",  
                    day: "numeric" 
                }; 
                return date.toLocaleDateString("fr-FR",options);
            },
            accDem(){
                let uri = `/api/demandes/${this.$route.params.id}`;
                let input = {
                    'isResp' : true,
                    'typeRes' : 'Accept',
                    '_method' : 'PATCH',
                };
                this.axios.post(uri,input).then((response) => {
                    this.supp = response.data;
                }).catch(err => {
                        this.supp = err.response.data;
                        })               
            },
            refDem(){
                this.showRef = false
                let uri = `/api/demandes/${this.$route.params.id}`;
                let input = {
                    'isResp' : true,
                    'typeRes' : 'Refuse',
                    'cmnt' : this.cmnt,
                    '_method' : 'PATCH',
                };
                this.axios.post(uri,input).then((response) => {
                    this.supp = response.data;
                }).catch(err => {
                        this.supp = err.response.data;
                        })
            }
        },
        components: {
            Presentation
        }
    }
</script>
<style scoped>
.btn{
    border: 1px solid #f7f7f7
}
td{
    line-height: 2.428571 !important;
}
.modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    /*height: 300px;*/
    z-index: 9999999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .introjs-overlay {
    position: absolute;
    z-index: 999;
    background-color: #2e3e4e;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
</style>
