<template>
    <section class="panel panel-default">
 <header class="panel-heading font-bold hidden-print">Demande Vue:
            <button href="#" class="btn btn-sm btn-info pull-right" @click="printshow = true;printfct()">Print</button>
        </header>
        <div class="panel-body">
            <div class="col-sm-12 mb-2 text-center" width="100%">
                <span width="10%" ><img src="/images/logo_ade.png" style="width:20%" /></span>
                <span width="80%" ><img src="/images/umpensao.png" style="width:50%"/></span>
                <span width="10%" ><img :src="club.logo" style="width:20%" /></span>
            </div>
            <div class="col-sm-12 mb-2">
                <span class="pull-right">Oujda, le {{convDate(demande.created_at)}} </span>
                <div class="pull-left col-sm-6">
                    <h6>{{club.name}}</h6>
                    <h6>{{club.president}}</h6>
                    <h6>Email : {{club.email}}</h6>
                    <h6>Tel : {{club.num}}</h6>
                </div>
            </div>
            <br>
            <br>            
            <br>
            <br><h5 class="text-dark text-center">A l’attention de Monsieur le Directeur de l’Ecole Nationale des Sciences Appliquées d’Oujda.</h5>
            <br><h5 class="text-dark text-center"><strong>Objet : {{demande.objet}}</strong></h5>
            <br>
            <p>
                <strong class="text-dark">Monsieur</strong>,<br><br>
                &#09;Le club <strong class="text-dark">"{{club.name}}"</strong> de l’Ecole Nationale des Sciences 
                Appliquées d’Oujda  a le plaisir de vous demander de bien vouloir lui
                accorder la permission d’utiliser <strong class="text-dark">{{demande.local}}</strong>, 
                afin de <strong class="text-dark">{{demande.desc}}</strong>, 
                le <strong class="text-dark">{{convDate(demande.date)}} de {{demande.from}} à {{demande.to}}</strong>.
                <br>{{demande.cmnt}}<br>
                Veuillez agréer, Monsieur, l&#39;expression de notre respect et de nos
                salutations les plus respectueuses.
            </p>
        </div>
        <footer class="panel-footer font-bold hidden-print"></footer>
    </section>
</template>
<script>
    export default {
        data(){
            return{
                printshow: false,
            }
        },        props: ['demande','club'],
        created (){
            this.demande.created_at=new Date()
        },
        methods:{
            convDate(d){
                var date = new Date()
                if(this.demande.date)date =new Date(d)
                var options = {  
                    weekday: "long", year: "numeric", month: "short",  
                    day: "numeric" 
                }; 
                return date.toLocaleDateString("fr-FR",options);
            },
            printfct(){
                this.printshow = true
                print()
            }
        }
    }
</script>

<style>
.mb-2{
    margin-bottom: 20px
}
</style>
